<h1>Admin Dashboard</h1>

<p>Welcome, <%= @admin.email %>!</p>

<!-- You can add any dashboard components here, such as stats, recent activity, etc. -->

<div class="dashboard-info">
  <p>Here is some important information...</p>
  <!-- Add more content or components as needed -->
</div>

<%= form_with(url: admin_logout_path, method: :delete, class: 'inline-form') do %>
  <%= submit_tag 'Logout', class: 'btn btn-danger' %>
<% end %>

<div class="d-flex justify-content-center my-3">
  <%= link_to 'Previous', request.params.merge(start_date: @previous_month.to_date), class: 'btn btn-secondary mx-2' %>
  <%= link_to 'Today', request.params.merge(start_date: Date.today), class: 'btn btn-primary mx-2' %>
  <%= link_to 'Next', request.params.merge(start_date: @next_month.to_date), class: 'btn btn-secondary mx-2' %>
</div>

<%= month_calendar do |date| %>
  <% 
    if date < Date.today 
      card_class = "bg-secondary text-white" # past
    elsif @unavailable_dates.include?(date)
      card_class = "bg-danger text-white"    # unavailable
    else
      card_class = "bg-success text-white"   # available
    end
  %>
  <div class="card m-2 p-3 <%= card_class %>">
    <div class="card-body">
      <h5 class="card-title">
        <%= date.strftime("%B %d, %Y") %>
      </h5>
    </div>
  </div>
<% end %>


