<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-shadow">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'User', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
        <%= link_to "My Reservations", my_reservations_reservations_path, class: "btn btn-info", form: { "data-turbo": false }  %>
        </li>
        <li class="nav-item">
            <%= link_to 'Admin Login', admin_login_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to current_user.email, root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary", form: { "data-turbo": false } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", register_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>